.text-color-h5 {
    font-weight: 600;
    color: white;
}
@font-face {
    font-family: "IBMPlexSans-BoldItalic";
    src: local("IBMPlexSans-BoldItalic-"),url(../../fonts/IBMPlexSans-BoldItalic.ttf) format('truetype');
}

.text-color-h1{
    font-family: IBMPlexSans-BoldItalic, sans-serif;
    font-weight: 600;
    color: white;
}

.text-color-h2 {
    color:black;
}

.data{
    color: white;
    font-weight: normal;
}
.ibm-main-div1 {
    background-color: #262626
}

.ibm-div2{
background-color: #F4F4F4;
}

.ibm-div-padding{
    padding: 50px;
}
