.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: #cbc3c3;
}

.main-navigation__title {
  color: #262626;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: .1em;
  font-family:  "Roboto", sans-serif;
}

h1 {
  color: #8d9091;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: .05em;
  font-family:  "Roboto", sans-serif;
}

.title{
  color: rgb(201, 208, 208);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 36px;
}

.main-navigation__title a {
  text-decoration: none;
  color: #b8e3e9;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}