.case-item {
    margin: 1rem;
    width: calc(22% - 2rem);
    min-width: 17.5rem;

  }

  .case-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    /*color: white;*/
    background: #FFFFFF ;

  }

  .case-item a:hover,
  .case-item a:active {
    background: #F4F4F4 ;
  }

  .case-item__content {
    padding: 0;
  }

  .case-item__image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }

  .case-item__info h2,h3 {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color: black;
  }

  /*.case-item:hover h2,*/
  /*.case-item:active h2,*/
  /*.case-item:hover h3,*/
  /*.case-item:active h3 {*/
  /*  color: #292929;*/
  /*}*/

  .case-item__info h3 {
    margin: 0;
  }
