html,body,body *{
    /*box-sizing: border-box;*/
    padding:0px;
    margin: 0px;
    /*background-color:inherit;*/
}

body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
/*.bg-dark {*/
/*    background-color: #0a0a0a !important;*/
/*}*/
p {
    line-height: 1.75;
}

a {
    color: #031b22;
}

a:hover {
    color: #6a6d6d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


button{
    font-size:1.5em;
    margin-right: 1em;
    border:0px;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 3px;
    padding-right: 10px;
}

button:focus{
    outline: 0px;
}
